$base-color: rgb(47, 134, 247);
.App {
	text-align: center;
	margin: 0;
	width: 100%;
	height: 100%;
}
.content {
	margin: 0;
	float: right;
	width: 75%;
	> .banner {
		margin: auto;
		margin-top: 2em;
		border-radius: 10px;
		background-color: rgb(173, 170, 170);
		color: $base-color;

		height: 25%;
		overflow: hidden;

		> p {
			padding: 1em;
		}
	}
}
.drawer {
	visibility: collapse;
	&.visible {
		visibility: visible;
		margin: 0;
		padding: 0;
		position: fixed;
		float: left;
		width: 25%;
		height: 100%;
		background-color: lightgray;
		overflow-y: scroll;
	}
}

.navigation {
	display: block;
	padding: 8px 16px;
	> h5 > a {
		text-decoration: none;
		color: $base-color;
	}
}

.toggle-drawer {
	border: $base-color thin solid;
	border-radius: 15px;
	z-index: 9000 !important;

	margin: 1em;
	float: left;
}
